<h1 *ngIf="visible">{{ title }}</h1>

<input type="radio" name="topgun" (click)="onChange(true)" />True
<input type="radio" name="topgun" (click)="onChange(false)" />False

<div *ngIf="IsVisible; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock><p>show the thenBlock</p></ng-template>

<ng-template #elseBlock><p>show the elseBlock</p></ng-template>

<!-- <p *ngIf="IsVisible">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maxime
  libero odio eum corporis ex dolorem nesciunt doloremque debitis adipisci quo a
  quibusdam eveniet aspernatur, nostrum numquam nulla ducimus quasi?
</p>

<p *ngIf="!IsVisible">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, sit quos
  magni accusantium cupiditate eius quis laboriosam officia? Molestias
  dignissimos dolores quo beatae pariatur, nisi eligendi expedita hic cum quas.
</p> -->

<!-- <p hidden>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi molestias
  voluptas ex consequatur quidem, dolores quo amet sunt suscipit perferendis
  commodi doloremque saepe iste eveniet? Sapiente dolore accusamus libero?
</p> -->

<select (change)="SetColor($event)">
  <option value="">---Select color---</option>
  <option value="R">Red</option>
  <option value="O">Orange</option>
  <option value="Y">Yellow</option>
  <option value="G">Green</option>
  <option value="B">Blue</option>
  <option value="V">Violet</option>
</select>

<div [ngSwitch]="color">
  <div *ngSwitchCase="'R'">
    <p style="color: red">switch statement</p>
  </div>
  <div *ngSwitchCase="'O'">
    <p style="color: orange">switch statement</p>
  </div>
  <div *ngSwitchCase="'Y'">
    <p style="color: yellow">switch statement</p>
  </div>
  <div *ngSwitchCase="'G'">
    <p style="color: green">switch statement</p>
  </div>
  <div *ngSwitchCase="'B'">
    <p style="color: blue">switch statement</p>
  </div>
  <div *ngSwitchCase="'V'">
    <p style="color: violet">switch statement</p>
  </div>
  <div *ngSwitchDefault>
    <p style="color: black">switch statement</p>
  </div>
</div>

<!-- <table [ngStyle]="{ color: number1 > number2 ? 'red' : 'green' }" border="1"> -->
<table border="1">
  <thead>
    <th>S/No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>First Rec</th>
    <th>Last Rec</th>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let employee of Employees;
        let i = index;
        first as isFirst;
        last as isLast;
        trackBy: TrackByEmployeeName;
        even as isEven;
        odd as isOdd
      "
      [ngStyle]="{ color: isEven ? 'Orange' : 'Blue' }"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ employee.Name | uppercase }}</td>
      <td [ngStyle]="{ color: CheckAge(employee.Age) }">{{ employee.Age }}</td>
      <td [ngClass]="getCss(isEven)">{{ employee.Gender }}</td>
      <td>{{ isFirst }}</td>
      <td>{{ isLast }}</td>
    </tr>
  </tbody>
</table>

<br />
<br />
<button (click)="GetMoreEmployee()">Add more employees</button>

<p [ngClass]="'color1'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
</p>

<p [ngClass]="number1 > number2 ? 'color1' : 'color2'">
  Aut nesciunt exercitationem sunt veniam?
</p>

<br />
<div>Sum of 2 numbers: {{ 10 + 20 }}</div>
<br />
<div>Sum of {{ number1 }} and {{ number2 }} = {{ number1 + number2 }}</div>

<br />
<h1 [innerHTML]="title"></h1>

<button (click)="showSomeData()">Show Some Data</button>
<br />

<br />
<label>Enter myName:</label>
<input
  type="text"
  [value]="myName"
  (input)="myName = $any($event.target).value"
/>
<br />
<p>Updated myName is {{ myName }}</p>

<br />
<label>Enter newServerName:</label>
<input type="text" [(ngModel)]="newServerName" />
<br />
<p>Updated newServerName is {{ newServerName }}</p>
